body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 20px;
background-color: #f4f4f9;
}

header{
text-align: center;
margin -bottom: 20px;
}

h1{
color: #333;
}

#expense-form, #expense-list{
max-width: 600px;
margin: 0 auto;
}

form{

}

input, select, button{

}
 #expenses{

 }